APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_LOG_LEVEL=INFO
DEBUG=false
APP_ENABLE_BACKGROUND_JOBS=true

SQLSERVER_CONNECTION_STRING=
SQLSERVER_ODBC_DRIVER=

FRONTEND_ALLOWED_ORIGINS=
AUTH_ISSUER=
AUTH_AUDIENCE=
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_EXCHANGE_SECRET=
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=http://localhost:5173/payment-success
PAYOS_CANCEL_URL=http://localhost:5173/payment-cancel
