APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_LOG_LEVEL=INFO
DEBUG=false
APP_ENABLE_BACKGROUND_JOBS=true

SQLSERVER_CONNECTION_STRING=Driver={ODBC Driver 18 for SQL Server};Server=localhost\SQLEXPRESS;Database=QuanLyData;Trusted_Connection=yes;Encrypt=no;TrustServerCertificate=yes;Connect Timeout=5;
SQLSERVER_ODBC_DRIVER=ODBC Driver 18 for SQL Server

FRONTEND_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,http://127.0.0.1:5173

AUTH_JWT_KEY=dev-only-super-secret-key-change-me-123456789
AUTH_ISSUER=GetGoals
AUTH_AUDIENCE=GetGoals.Web
AUTH_GOOGLE_CLIENT_ID=165959766327-jl1k2gbudii6a2rtbv82l5iankeb78ii.apps.googleusercontent.com
AUTH_GOOGLE_EXCHANGE_SECRET=dev-google-exchange-secret

PAYOS_CLIENT_ID=03d5f659-852c-4711-aa62-f75c28201070
PAYOS_API_KEY=36f7b770-c521-4ee4-8b83-826618643dab
PAYOS_CHECKSUM_KEY=cde47123b566d972059d5be74ce0e353d7657cd3c743e3344f443a5c872170be
PAYOS_RETURN_URL=http://localhost:5173/payment-success
PAYOS_CANCEL_URL=http://localhost:5173/payment-cancel
