# Recommended Python: 3.12 or 3.13
fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.43
pyodbc==5.2.0
PyJWT==2.10.1
httpx==0.28.1
pydantic==2.11.7
email-validator==2.2.0
passlib==1.7.4
python-dotenv==1.2.2
python-multipart==0.0.20

# AI / NLP & Translation
transformers==4.46.3
torch==2.5.1
sentencepiece==0.2.0
ctranslate2==4.5.0

# Text-to-Speech
edge-tts==6.1.15

# Utilities
starlette==0.41.3
aiofiles==24.1.0
